body {
  margin: 0;
  min-height: 100vh;
  text-align: center;
  background: #242424;
  color: #f2f2f2;
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: #9f9f9f;
  background: #121212;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14pt;
  font-family: inherit;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

img {
  width: 200px;
  margin-bottom: 20px;
  border-radius: 5px;
}